<p align="center">
<img src="https://cdn.datacamp.com/main-app/assets/brand/datacamp-horizontal-rgb-b641f95b7bdd7560b554c761a0b4910f9619907dd823c0e41244ed72078723bf.svg" alt = "DataCamp icon" width="50%">
</p>
<br><br>

# Setup

Before we get started, we need to do some initial setup. Please run the cells below to install postgress, start the server, load sql extensions, download data, and create the required database tables. This will take a few minutes on the first run.

In [0]:
#@title Install postgres and start server
%%capture
!wget -qO- https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
!echo "deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main" >/etc/apt/sources.list.d/pgdg.list
!apt -qq update
!apt -yq install postgresql-12 postgresql-client-12
!service postgresql start
# make calling psql shorter
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"  
!psql postgres -c "CREATE DATABASE root"  # now just !psql -c "..."
# load SQL extensions
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

In [0]:
#@title Download data as CSV files
!wget -q https://raw.githubusercontent.com/baldwint/binder-postgres/postgres/data/actor.csv

In [3]:
#@title Create Tables
%%sql
DROP TABLE IF EXISTS actor;
CREATE TABLE actor(
 actor_id int primary key,
 first_name varchar(50),
 last_name varchar(50),
 last_update timestamp
);
COPY actor
FROM '/content/actor.csv' DELIMITER ',' CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

# Get Started

In [4]:
%%sql
SELECT * FROM actor LIMIT 10

 * postgresql+psycopg2://@/postgres

   actor_id first_name     last_name         last_update
0         1   Penelope       Guiness 2006-02-15 10:05:00
1         2       Nick      Wahlberg 2006-02-15 10:05:00
2         3         Ed         Chase 2006-02-15 10:05:00
3         4   Jennifer         Davis 2006-02-15 10:05:00
4         5     Johnny  Lollobrigida 2006-02-15 10:05:00
5         6      Bette     Nicholson 2006-02-15 10:05:00
6         7      Grace        Mostel 2006-02-15 10:05:00
7         8    Matthew     Johansson 2006-02-15 10:05:00
8         9        Joe         Swank 2006-02-15 10:05:00
9        10  Christian         Gable 2006-02-15 10:05:00